.item
    .title {{name}}
    .buttons
        a.btn.btn-danger.btn-xs.delbtn(src="#") Delete
        =" "
        a.btn.btn-success.btn-xs.nowbtn(src="#") To Now
        =" "
        a.btn.btn-primary.btn-xs.laterbtn(src="#") To Later

